# 网站名称
VITE_APP_NAME=Site Name

# 后端 API 地址，如果前后端分离，则填写前端域名，然后反代api
# 例如：https://example.com
VITE_API_BASE_URL=/

# 是否启用 Mock 数据
# true = 使用模拟数据
# false = 使用真实接口
VITE_ENABLE_MOCK=true


# Telegram 客服
VITE_SUPPORT_TELEGRAM_CONTACT_LABEL=@your_support
VITE_SUPPORT_TELEGRAM_CONTACT_URL=https://t.me/your_support

# Telegram 群组
VITE_SUPPORT_TELEGRAM_GROUP_LABEL=@your_group
VITE_SUPPORT_TELEGRAM_GROUP_URL=https://t.me/your_group


# 节点状态接口
VITE_NODE_STATUS_API_PATH=/api/v1/user/server/fetch

# 节点状态刷新间隔（毫秒）
VITE_NODE_STATUS_REFRESH_INTERVAL_MS=15000


# V2RayN 下载地址（Windows / macOS Intel / macOS ARM）
VITE_DOWNLOAD_V2RAYN_WINDOWS=https://github.com/2dust/v2rayN/releases/download/7.19.5/v2rayN-windows-64-desktop.zip
VITE_DOWNLOAD_V2RAYN_MAC_INTEL=https://github.com/2dust/v2rayN/releases/download/7.19.5/v2rayN-macos-64.dmg
VITE_DOWNLOAD_V2RAYN_MAC_ARM=https://github.com/2dust/v2rayN/releases/download/7.19.5/v2rayN-macos-arm64.dmg


# Mihomo / Clash 下载地址（Windows / macOS Intel / macOS ARM）
VITE_DOWNLOAD_CLASH_WINDOWS=https://github.com/MetaCubeX/mihomo/releases/download/v1.19.23/mihomo-windows-amd64-compatible-v1.19.23.zip
VITE_DOWNLOAD_CLASH_MAC_INTEL=https://github.com/MetaCubeX/mihomo/releases/download/v1.19.23/mihomo-darwin-amd64-compatible-v1.19.23.gz
VITE_DOWNLOAD_CLASH_MAC_ARM=https://github.com/MetaCubeX/mihomo/releases/download/v1.19.23/mihomo-darwin-arm64-v1.19.23.gz
